<script setup lang="ts">
import ClientOnly from '#root/components/ClientOnly.vue'
</script>
<template>
  <ClientOnly :load="() => import('./Quiz.vue')">
    <template #fallback>Loading...</template>
  </ClientOnly>
</template>
