<script setup lang="ts">
import ButtonVue from '#root/components/ButtonVue.vue'
import CharterCard from '#root/components/CharterCard.vue'
import CharterGram from '#root/components/CharterGram.vue'
import { useCharterStore } from '#root/stores/charter'
import { computed, ref, watch } from 'vue'
const store = useCharterStore()

function* generatePairs(length: number) {
  for (let i = 0; i < length; i++) {
    for (let j = i; j < length; j++) {
      if (i != j) yield [i, j] as const
    }
  }
}

function shuffle<T>(arr: Iterable<T>) {
  const a = [...arr]
  for (let i = a.length; i; i--) {
    let j = Math.floor(Math.random() * i)
    ;[a[i - 1], a[j]] = [a[j], a[i - 1]]
  }
  return a
}

const pairs = computed(() =>
  shuffle(generatePairs(store.items.length))
    .map(shuffle)
    .map((v) => v.map((w) => store.items[w].id)),
)

const choices = ref<string[]>([])
const unchoices = ref<string[]>([])
const currentPair = computed(() => pairs.value[choices.value.length] ?? [])
const automaticallyResolved = ref(0)

const setCurrentPair = (selectedIndex: 0 | 1) => {
  if (currentPair?.value?.length === 2) {
    const pair = currentPair.value
    choices.value = [...choices.value, pair[selectedIndex]]
    unchoices.value = [...unchoices.value, pair[selectedIndex ? 0 : 1]]
  }
}
const reset = () => {
  choices.value = []
  unchoices.value = []
  automaticallyResolved.value = 0
}
watch([pairs], () => {
  reset()
})

watch(currentPair, (pair) => {
  const [left, right] = pair ?? []
  if (!(left != null && right != null)) return

  const countValue =
    <W,>(list: W[]) =>
    (value: W) =>
      list.filter((v) => v === value).length
  const [leftChosen, rightChosen] = [left, right].map(countValue(choices.value)) as [number, number]
  const [leftUnchosen, rightUnchosen] = [left, right].map(countValue(unchoices.value)) as [
    number,
    number,
  ]

  if (leftChosen > rightChosen && rightUnchosen > leftUnchosen) {
    choices.value = [...choices.value, left]
    unchoices.value = [...unchoices.value, right]
    automaticallyResolved.value += 1
  } else if (leftChosen < rightChosen && rightUnchosen < leftUnchosen) {
    choices.value = [...choices.value, right]
    unchoices.value = [...unchoices.value, left]
    automaticallyResolved.value += 1
  }
})
</script>
<template>
  <div v-if="currentPair && currentPair.length === 2">
    <h2>Select the concept you agree with more.</h2>
    <p>
      Each one is taken from the Tech Workers Charter, and represents an aspect which we're
      campaigning on!
    </p>
    <div :class="$style['pick-a-choice']">
      <CharterCard
        v-for="i in [0, 1] as const"
        :="store.itemsAsMap[currentPair[i]]"
        role="button"
        @click="
          () => {
            setCurrentPair(i)
          }
        "
        tabindex="0"
        @keydown.enter.space="
          () => {
            setCurrentPair(i)
          }
        "
        :style="{ 'user-select': 'none' }"
      />
    </div>
    <p v-if="choices.length">
      {{ pairs.length - choices.length }} pairings remaining with
      {{ automaticallyResolved }} automatically resolved.
    </p>
  </div>
  <div v-else>
    <h2>Your Chartergram</h2>
    <CharterGram
      :style="{
        'max-width': '98vw',
        'max-height': '98vh',
        'background-color': 'var(--color-background)',
        border: 'thick solid var(--highlights-color)',
        width: 'auto',
      }"
      :scale-values="
        choices.reduce(
          (acc, next) => {
            return { ...acc, [next]: (acc[next] ?? 0) + 1 / store.items.length }
          },
          {} as Record<string, number>,
        )
      "
    />
    <ButtonVue
      @click="
        () => {
          reset()
        }
      "
    >
      Restart
    </ButtonVue>
  </div>
</template>
<style lang="scss" scoped module>
.pick-a-choice {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
  gap: 1em;

  cursor: pointer;
  > * {
    flex: 1;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}
</style>
