<script setup lang="ts">
import { ButtonType } from '#root/components/ButtonType'
import ButtonVue from '#root/components/ButtonVue.vue'
</script>

<template>
  <header>
    <h1>We're building better, fairer and healthier workplaces in the Tech industry</h1>
    <p class="text-small">
      Workers in tech and games are organising around the world. The UK is a major hub for tech, and
      its workers deserve a voice.
    </p>
  </header>
  <section class="emphasise">
    <h2>Evaluate your employer!</h2>
    <p class="text-size-h4">
      We're conducting research into how well employers align with our
      <a href="charter">"Tech Workers Charter"</a> and agitating for change in workplaces with the
      information.
    </p>
    <ButtonVue href="evaluate-your-employer" :action-type="ButtonType.Primary"
      >Take our quick quiz</ButtonVue
    >
  </section>
  <section class="suppress-links">
    <h2>Who are we?</h2>
    <p>
      We're from a variety of backgrounds, and a variety of working situations - senior and junior
      developers, recent graduates and tutors, contractors and freelancers, full time and part time.
      Some of us have experience with union organising or activist organising, and some of us are
      completely new to the idea.
    </p>

    <p>
      We're a network of tech & games workers, supported by the trade union
      <a href="https://prospect.org.uk">Prospect</a> and the <a href="https://stuc.org.uk">STUC</a>.
    </p>

    <p>
      What we all have in common is a desire to change our situation and the tech sector as a whole.
      We have power in solidarity, and we have power in our network.
    </p>

    <p>
      We're joining together to erase the gender pay gap; to make pay and bonus structures
      transparent; to amplify the voices of the marginalised and underrepresented; to make the tech
      industry a sustainable and ethical place to work.
    </p>

    <p>We have launched our <a href="charter">"Tech Workers Charter"</a> to further these aims.</p>
  </section>
</template>
<style lang="scss" scoped>
header {
  margin-bottom: 2.5ex;
  text-align: center;
}

section.emphasise {
  border: dashed thick var(--text-color);
  padding: 1em;
  text-align: center;
}
</style>
