<script setup lang="ts">
import CardGrid from '#root/components/CardGrid.vue'
import CharterCard from '#root/components/CharterCard.vue'
import { useCharterStore } from '#root/stores/charter'
import _ from 'lodash'
import { computed } from 'vue'

const store = useCharterStore()
const groups = computed(() => _.groupBy(store.items, (a) => a.section))
</script>
<template>
  <article>
    <header>
      <h1>The Tech Workers Charter</h1>
    </header>
    <section v-for="[group, v] in Object.entries(groups)" :key="group">
      <h2 style="text-transform: capitalize">{{ group }}</h2>
      <CardGrid>
        <CharterCard v-for="item in v" :key="item.section + item.subsection" v-bind="item" />
      </CardGrid>
    </section>
  </article>
</template>
