<script setup lang="ts">
import { ButtonType } from './ButtonType'

type CombinedProps = {
  actionType?: ButtonType
  href?: string
}
const props = defineProps<CombinedProps>()
const emits = defineEmits<{ click: [e: MouseEvent] }>()
const buttonEmit = (e: MouseEvent) => {
  emits('click', e)
}
</script>
<template>
  <a
    v-if="props.href"
    :href="props.href"
    :class="{
      [$style.button]: true,
      [$style.primary]: props.actionType === ButtonType.Primary,
      [$style.secondary]: props.actionType === ButtonType.Secondary,
    }"
  >
    <slot></slot>
  </a>
  <button
    v-else
    @click="buttonEmit"
    :class="{
      [$style.button]: true,
      [$style.secondary]: props.actionType === ButtonType.Secondary,
      [$style.primary]: props.actionType === ButtonType.Primary,
    }"
  >
    <slot></slot>
  </button>
</template>
<style lang="scss" module>
.button {
  --button-text-colour: var(--text-color);
  color: var(--button-text-colour);
  font-size: var(--text-size-lg);
  border: solid thin var(--highlights-color);
  border-radius: 2px;
  padding: 1em 1ex;
  display: block;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: outset var(--highlights-color) 5px;
  }
  &:visited {
    color: var(--button-text-colour);
  }
}
.primary {
  background-color: var(--highlights-color);
  --button-text-colour: var(--highlights-text-color);
}
.secondary {
}
</style>
