<script setup lang="ts">
import { computed, provide } from 'vue'
import { CardGridParent } from './injectionKeys'

const props = defineProps<{
  maxColumns?: number
}>()
const maxColumns = computed(() => props.maxColumns ?? 3)

provide(CardGridParent, true)
</script>
<template>
  <div :class="$style.layout">
    <slot></slot>
  </div>
</template>

<style module>
.layout {
  /**
   * User input values.
   */
  --grid-layout-gap: 1em;
  --grid-column-count: v-bind('maxColumns');
  --grid-item--min-width: 250px;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-template-rows: auto 1fr min-content;

  gap: var(--grid-layout-gap);
}
</style>
