<script setup lang="ts">
import logo from '#root/assets/logo.svg'
import { useCharterStore } from '#root/stores/charter'
import * as math from 'mathjs'
import { computed, type ComputedRef } from 'vue'

const store = useCharterStore()
const { scaleValues = {} } = defineProps<{ scaleValues: Record<string, number> }>()
const viewbox = [1000, 1000] as const
const viewboxCenter: [number, number] = [viewbox[0] / 2, viewbox[1] / 2]

type Point = {
  section: string
  index: number
  value: number
  angle: number
  position: Record<'cx' | 'cy', number>
}
const values: ComputedRef<Point[]> = computed(() =>
  store.items.map((item, i) => {
    const value = scaleValues[item.id] ?? 0.5
    const angle = calculatePosition(i, store.items.length)
    return {
      section: item.subsection,
      index: i,
      value,
      angle,
      position: polarPosition(value, angle, viewboxCenter, Math.min(...viewbox) * 0.5),
    }
  }),
)

function calculatePosition(i: number, n: number) {
  return (2 * Math.PI * i) / n
}

function polarPosition(
  value: number,
  angle: number,
  center: readonly [number, number],
  scale: number,
) {
  return {
    cx: center[0] + value * scale * Math.cos(angle),
    cy: center[1] + value * scale * Math.sin(angle),
  }
}

function pathDefintion(positions: [Point['position'], Point['position']?], shorten?: number) {
  let [start, end] = positions

  if (!end) {
    end = start
    start = { cx: 450, cy: 450 }
  }

  if (shorten) {
    let startVec: math.MathType = [start.cx, start.cy]
    let endVec: math.MathType = [end.cx, end.cy]
    const pathVec = math.subtract(endVec, startVec)
    const unit = math.divide(pathVec, math.sqrt(math.dot(pathVec, pathVec)))
    const adjustment = math.multiply(unit, shorten / 2)
    startVec = math.add(startVec, adjustment)
    endVec = math.subtract(endVec, adjustment)
    if (Array.isArray(startVec)) start = { cx: startVec[0] as number, cy: startVec[1] as number }
    if (Array.isArray(endVec)) end = { cx: endVec[0] as number, cy: endVec[1] as number }
  }

  return `M${start.cx},${start.cy} L${end.cx},${end.cy}`
}
</script>
<template>
  <svg viewBox="0 0 1000 1000" :style="{ aspectRatio: 1 }">
    <circle r="10px" fill="currentColor" :cx="viewboxCenter[0]" :cy="viewboxCenter[1]"></circle>
    <g v-for="item in values" :key="item.section">
      <circle
        :key="item.section"
        r="10px"
        :style="{ stroke: 'var(--highlights-color)', strokeWidth: '5px', fill: 'transparent' }"
        v-bind="item.position"
        tabindex="0"
        fill="currentColor"
      ></circle>
      <path
        :style="{
          stroke: 'var(--highlights-color)',
          strokeWidth: '5px',
        }"
        :d="pathDefintion([item.position, values[(item.index + 1) % values.length]?.position], 15)"
      />
      <text
        :x="viewboxCenter[0]"
        :y="viewboxCenter[1]"
        class="rotated-around-center"
        :style="{
          '--center-rotation-value': `${item.angle}rad`,
          '--block-rotation-value':
            Math.abs(item.angle - Math.PI) > Math.PI / 2 ? '0deg' : '180deg',
          textAnchor: 'start',
          dominantBaseline: 'middle',
          'transform-box': 'fill-box',
          transform:
            'translate(calc(-50% - 30px)) rotate(var(--center-rotation-value))  translate(calc(50% + 30px)) rotate(var(--block-rotation-value))',
          'transform-origin': 'center',
          fill: 'currentColor',
        }"
        dx="30"
        dy="0"
      >
        {{ item.section }}
      </text>
    </g>
    <g id="logo" :style="{ rotate: '180deg', 'transform-origin': 'center' }">
      <image
        :href="logo"
        origin="bottom right"
        height="150px"
        x="20"
        y="20"
        :style="{ rotate: '180deg', 'transform-origin': 'center', 'transform-box': 'fill-box' }"
      ></image>
    </g>
  </svg>
</template>
<style lang="scss" scoped>
svg {
  display: block;
  margin: 0 auto;
}
</style>
