<script setup lang="ts">
import type { CharterItem } from '#root/types/CharterItem'
import Card from './GenericCard.vue'

const item = defineProps<CharterItem>()
</script>
<template>
  <Card>
    <template #title>{{ item.subsection }}</template>
    <template #content>
      <ul :class="$style['separator-list']">
        <li v-for="point in item.items" :key="point">{{ point }}</li>
      </ul>
    </template>
  </Card>
</template>

<style lang="scss" module>
.separator-list {
  padding: 0;
  > li {
    list-style: none;

    &:not(:last-child) {
      border-bottom: thin dashed var(--highlights-color);
      padding-bottom: 1em;
    }
    &:not(:first-child) {
      padding-top: 1em;
    }
  }
}
</style>
