<script setup lang="ts">
import { inject, useSlots, type ExtractPublicPropTypes } from 'vue'
import ButtonVue from './ButtonVue.vue'
import { CardGridParent } from './injectionKeys'

const slots = useSlots()
const props = defineProps<{
  buttons?: (ExtractPublicPropTypes<typeof ButtonVue> & { label: string })[]
  highlight?: boolean
  deactivated?: boolean
}>()

const inGrid = inject(CardGridParent, false)
</script>
<template>
  <section
    :class="{
      [$style.card]: true,
      [$style.highlight]: highlight,
      [$style.interactive]: props.buttons,
      [$style.grid]: inGrid,
    }"
    v-bind:data-deactivated="deactivated"
  >
    <header v-if="slots.title || slots.subtitle">
      <h1 v-if="slots.title">
        <slot name="title"></slot>
      </h1>
      <p v-if="slots.subtitle" :class="$style.subtitle">
        <slot name="subtitle"></slot>
      </p>
    </header>
    <div v-if="slots.content">
      <slot name="content"></slot>
    </div>
    <footer v-if="props.buttons">
      <ButtonVue v-for="button in buttons" :="button" :disabled="deactivated">{{
        button.label
      }}</ButtonVue>
    </footer>
  </section>
</template>
<style lang="scss" module scoped>
.card {
  --border-color: var(--highlights-color);
  border: solid thin var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 1em;
  > * {
    padding: 1ex 1em;
  }
  > :not(header, footer):last-of-type {
    flex: 1;
  }

  --type-scale-factor: 1.1;
  --text-size-xs: calc(var(--text-size-sm) / var(--type-scale-factor));
  --text-size-sm: calc(var(--text-size-md) / var(--type-scale-factor));
  --text-size-md: 1em;
  --text-size-lg: calc(var(--text-size-md) * var(--type-scale-factor));
  --text-size-xl: calc(var(--text-size-lg) * var(--type-scale-factor));
  --text-size-2xl: calc(var(--text-size-xl) * var(--type-scale-factor));
  --text-size-3xl: calc(var(--text-size-2xl) * var(--type-scale-factor));
  --text-size-4xl: calc(var(--text-size-3xl) * var(--type-scale-factor));
  --text-size-5xl: calc(var(--text-size-4xl) * var(--type-scale-factor));

  h1 {
    text-transform: capitalize;
  }

  header {
    border-bottom: solid var(--border-color);
    flex-basis: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer {
    display: flex;
    gap: 1em;
    justify-content: stretch;
    align-items: stretch;

    > * {
      flex: 1;
    }
  }

  &[data-deactivated='true'] {
    --border-color: var(--deactivated-color);
  }
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr min-content;
  grid-template: subgrid / subgrid;
  grid-row: span 3;

  > header {
    grid-row: 1;
  }

  > div {
    grid-row-start: 2;
    grid-row-end: 3;

    &:first-child {
      grid-row-start: 1;
    }

    &:last-child {
      grid-row-end: 4;
    }
  }

  > footer {
    grid-row: 3;
  }
}

.interactive {
  border-width: thick;
}

.highlight {
  border-style: double;
  border-width: 1em;
  background-color: var(--color-background);
}

.subtitle {
  font-size: var(--text-size-sm);
}
</style>
