<script setup lang="ts">
import { usePageContext } from '#root/hooks/usePageContext'
import { type LinkItem } from '#root/types/LinkItem'
import { Menu, Xmark } from '@iconoir/vue'
import { ref } from 'vue'
import { VueSidePanel } from 'vue3-side-panel'
import TechWorkersLogo from './TechWorkersLogo.vue'
const context = usePageContext()
const rootUrl = import.meta.env.BASE_URL
const panelOpen = ref(false)
const menuItems = ref<HTMLElement[]>()
const menuButton = ref<HTMLButtonElement | null>(null)

function focusButton() {
  menuItems.value?.[0]?.focus()
}

const { linkItems } = defineProps<{ linkItems: LinkItem[] }>()
</script>
<template>
  <header>
    <a :href="rootUrl"><TechWorkersLogo /></a>
    <button
      :class="$style['menu-trigger']"
      @click="() => (panelOpen = true)"
      aria-haspopup="menu"
      :aria-expanded="panelOpen"
      ref="menuButton"
    >
      <Menu aria-label="Menu"></Menu>
    </button>
    <span :class="$style.description">{{ context.config.description }}</span>
  </header>

  <VueSidePanel
    side="right"
    v-model="panelOpen"
    :body-class="$style['nav-side-panel']"
    hide-close-btn
    @opened="() => focusButton()"
    @closed="() => menuButton?.focus()"
  >
    <button @click="() => (panelOpen = false)">
      <Xmark aria-label="close" />
    </button>
    <nav>
      <ul>
        <li v-for="link in linkItems" :key="link.label">
          <a :href="link.url.toString()" @click="() => (panelOpen = false)" ref="menuItems"
            >{{ link.label }} <component v-if="link.icon" :is="link.icon"
          /></a>
        </li>
      </ul>
    </nav>
  </VueSidePanel>
  <nav :class="$style.nav">
    <ul>
      <li
        v-for="link in linkItems"
        :key="link.label"
        :class="{ [$style['pull-right']]: link.position === 'right' }"
      >
        <a :href="link.url.toString()"
          >{{ link.label }} <component v-if="link.icon" :is="link.icon"
        /></a>
      </li>
    </ul>
  </nav>
</template>

<style lang="scss" scoped>
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  border-bottom: solid thin var(--highlights-color);
  padding-block: 1em;
  button {
    border: none;
    color: var(--text-color);
  }
}

ul {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  gap: 1em;
  padding: 0;
  flex-flow: wrap;

  li {
    list-style: none;

    a {
      color: var(--text-color);
      display: block;
      padding: 1.5ex 1em;
      text-decoration: none;
      display: inline-flex;
      gap: 1em;
      justify-content: center;
      align-items: stretch;
      width: 100%;
      height: 100%;
    }
  }
}
</style>
<style lang="scss" module>
.nav {
  border-bottom: solid thin var(--highlights-color);
}

.pull-right {
  margin-inline-start: auto;
}
.nav-side-panel {
  background-color: var(--color-background);
  border-left: thick solid var(--highlights-color);
  display: flex;
  justify-content: stretch;
  flex-direction: column;

  > button {
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    padding: 1em;
    margin: 0;
  }

  nav {
    border: none;

    ul {
      gap: 0;
      flex-direction: column;
      align-items: stretch;

      li a {
        justify-content: start;
      }

      .pull-right {
        margin-inline-start: initial;
      }
    }
    li:not(:first-child) {
      border-top: thin solid var(--highlights-color);
    }
  }
}

.menu-trigger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 600px) {
    display: none;
  }
}

.description,
.nav {
  @media (max-width: 600px) {
    display: none;
  }
}

.description {
  max-width: 50vw;
}
</style>
