<script setup lang="ts">
import logo from '#root/assets/logo-inner.svg'
</script>
<template>
  <div :class="$style.logo">
    <img :src="logo" /> <span>Scottish Tech&nbsp;Workers Network</span>
  </div>
</template>
<style lang="scss" module>
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  font-weight: bold;
  font-size: 1.2em;
  color: var(--highlights-color);

  > span {
    width: min-content;
  }
}
</style>
