<script setup lang="ts">
import CardGrid from '#root/components/CardGrid.vue'
import GenericCard from '#root/components/GenericCard.vue'
import { useData } from '#root/hooks/useData'
import type { ICSEvent } from 'ical'
import { computed } from 'vue'
const meetups = useData<{ events: Record<string, ICSEvent> }>()

const futureMeetups = computed(() =>
  Object.values(meetups.value?.events ?? {})
    .map((v) => ({
      ...v,
      url: v.url ? v.url.val : undefined,
      start: v.start ? new Date(v.start) : undefined,
      end: v.end ? new Date(v.end) : undefined,
    }))
    .filter((v) => (v.end?.getTime() ?? Number.MAX_SAFE_INTEGER) > Date.now()),
)

const formatter = new Intl.DateTimeFormat(undefined, { dateStyle: 'full', timeStyle: 'short' })
</script>
<template>
  <article>
    <header><h2>Meetups</h2></header>
    <section>
      <p>
        We run monthly meetups in Edinburgh, Glasgow and online via Teams where we chat about issues
        in our workplaces, starting and maintaining union organisation and furthering the aims set
        out in <a href="/charter">the charter</a>.
      </p>
      <p>
        These are announced in the Slack group on
        <a href="https://meetup.com/sco-techwork">Meetup</a> and on this page.
      </p>
    </section>
    <section v-if="futureMeetups.length > 0">
      <h3>Upcoming Meetups</h3>
      <CardGrid>
        <GenericCard
          v-for="event in futureMeetups"
          :key="event.uid"
          :buttons="(event.url && [{ label: 'More information', href: event.url }]) || undefined"
        >
          <template #title>{{ event.summary }}</template>
          <template #subtitle v-if="event.start">{{ formatter.format(event.start) }}</template>
          <template #content>
            <div>{{ event.description }}</div>
          </template>
        </GenericCard>
      </CardGrid>
    </section>
  </article>
</template>
