@import 'normalize.css';

:root {
  font-size: 16px;
  --type-scale-factor: 1.2;
  --text-size-xs: calc(var(--text-size-sm) / var(--type-scale-factor));
  --text-size-sm: calc(var(--text-size-md) / var(--type-scale-factor));
  --text-size-md: 1rem;
  --text-size-lg: calc(var(--text-size-md) * var(--type-scale-factor));
  --text-size-xl: calc(var(--text-size-lg) * var(--type-scale-factor));
  --text-size-2xl: calc(var(--text-size-xl) * var(--type-scale-factor));
  --text-size-3xl: calc(var(--text-size-2xl) * var(--type-scale-factor));
  --text-size-4xl: calc(var(--text-size-3xl) * var(--type-scale-factor));
  --text-size-5xl: calc(var(--text-size-4xl) * var(--type-scale-factor));

  --font-family: Cascadia code, monospace;
  --highlights-color: #f1861d;
  --highlights-text-color: #000;
  --text-color: #000;
  --link-color: var(--highlights-color);

  --deactivated-color: #333;

  @media (prefers-color-scheme: light) {
    --color-background: #fff;
    --text-color: #000;

    --highlights-color: #{darken(#f1861d, 5%)};
    --highlights-text-color: #fff;
  }

  @media (prefers-color-scheme: dark) {
    --color-background: #000;
    --text-color: #fff;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 1em;
  }

  h1,
  .text-size-h1 {
    font-weight: bolder;
    font-size: var(--text-size-3xl);
  }

  h2,
  .text-size-h2 {
    font-size: var(--text-size-2xl);
  }

  h3,
  .text-size-h3 {
    font-size: var(--text-size-xl);
  }

  h4,
  .text-size-h4 {
    font-size: var(--text-size-lg);
  }

  h5,
  .text-size-h5 {
    font-size: var(--text-size-md);
  }

  .text-caption {
    font-size: var(--text-size-md);
  }

  small,
  .text-small {
    font-size: var(--text-size-sm);
  }

  p {
    font-size: var(--text-size-md);
  }
}

html {
  background-color: var(--color-background);
  color: var(--text-color);
  font-family: var(--font-family);
}

body {
  min-height: 100vh;
  background-image: url('/src/assets/logo-inner.svg');
  background-repeat: no-repeat;
  background-position: top 50% left 100%;
  background-attachment: fixed;
  background-origin: border-box;
  background-size: 120% auto;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  > div#page-view {
    @media (prefers-color-scheme: dark) {
      backdrop-filter: brightness(10%);
    }
    background-color: rgba($color: var(--color-background), $alpha: 0.8);

    @media (prefers-reduced-transparency) or (prefers-color-scheme: light) {
      background-color: var(--color-background);
    }

    max-width: 1200px;
    padding: 1ex 1rem;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:visited {
    color: var(--link-color);
    font-style: italic;
  }
}

.suppress-links {
  --link-color: var(--text-color);
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--highlights-color);
}

a::selection {
  color: var(--text-color);
}

button {
  border-color: var(--highlights-color);
  background-color: var(--color-background);
  color: var(--text-color);
  cursor: pointer;

  &:focus {
    outline: thick dashed var(--highlights-color);
  }
}

label {
  font-size: var(--text-size-md);
  display: block;
}
input,
textarea,
select {
  accent-color: var(--highlights-color);
  display: block;
  width: 100%;

  max-width: 25rem;
  background-color: var(--color-background);
  color: var(--text-color);
  border: var(--text-color) thin dashed;
  font-size: var(--text-size-md);

  margin-block: 1ex;
  padding: 1ex;
  text-overflow: ellipsis;

  &:disabled {
    background-color: var(--deactivated-color);
  }
  &:focus {
    border: thin solid var(--highlights-color);
  }

  &[type='text'],
  &[type='email'],
  &[type='number'] {
    min-height: 2em;
  }

  &[type='checkbox'] {
    background-color: var(--color-background);
    color: var(--text-color);
    display: inline-block;
    width: auto;
  }
}

@mixin range-track {
  &::-webkit-slider-runnable-track {
    @content;
  }
  &::-ms-track {
    @content;
  }
  &::-moz-range-track {
    @content;
  }
}

@mixin thumb {
  &::-webkit-slider-thumb {
    @content;
  }
  &::-ms-thumb {
    @content;
  }
  &::-moz-range-thumb {
    @content;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  margin: 1em auto;
  display: block;
  border: none;

  @include range-track() {
    background-color: var(--highlights-color);
    border-radius: 0.5rem;
    height: 1rem;
  }

  &:disabled {
    @include range-track() {
      background-color: var(--deactivated-color);
    }
  }
  &:focus {
    /* Removes default focus */
    outline: none;

    @include thumb() {
      outline: 3px solid var(--text-color);
      outline-offset: 0.125rem;
    }
  }
  /* slider thumb */
  @include thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: 0px; /* Centers thumb on the track */
    background-color: var(--text-color);
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
}

dialog {
  background-color: var(--color-background);
  color: var(--text-color);
  border: var(--highlights-color) solid thick;

  &::backdrop {
    backdrop-filter: brightness(5%);
  }
}

menu {
  padding: 0;
  margin: 0;
}
