<script setup lang="ts">
import { reactive } from 'vue'
import { type SubmissionType } from './types'
let model = reactive<SubmissionType>({
  requestCallback: false,
  email: undefined,
  employer: undefined,
  otherInfo: undefined,
  seniority: undefined,
})
defineEmits<{ submit: [v: SubmissionType]; cancel: [] }>()
</script>
<template>
  <form
    @submit="
      (e) => {
        e.preventDefault()
        $emit('submit', { ...model })
      }
    "
  >
    <label>
      <div>Request for someone to contact you?</div>
      <select v-model.boolean="model.requestCallback">
        <option :value="false">No</option>
        <option :value="true">Yes</option>
      </select>
    </label>

    <label v-if="model.requestCallback">
      Your name
      <input
        type="text"
        autocomplete="name"
        v-model="model.name"
        :required="model.requestCallback"
      />
    </label>

    <label v-if="model.requestCallback">
      Your email
      <input
        type="email"
        autocomplete="email"
        v-model="model.email"
        :required="model.requestCallback"
      />
    </label>

    <label>Your employer <input type="text" v-model="model.employer" required /></label>
    <label>
      Which of these best describes your role
      <select v-model="model.seniority">
        <option value="employee">I am a regular employee.</option>
        <option value="manager">I manage a team but can't influence pay and/or conditions.</option>
        <option value="higher-manager">I manage a team and can influence pay and/or conditions.</option>
        <option value="controller">I set pay and conditions for others.</option>
      </select>
    </label>
    <label>Any other details? <textarea v-model="model.otherInfo"></textarea></label>
    <menu>
      <button
        type="reset"
        @click="
          () => {
            $emit('cancel')
          }
        "
      >
        Cancel
      </button>

      <button type="submit">Send</button>
    </menu>
  </form>
</template>
<style lang="scss" scoped>
input,
textarea {
  margin-block: 1ex;
}

label > input[type='checkbox'] {
  margin-inline-start: 0.5em;
}

menu {
  display: flex;
  gap: 1em;

  justify-content: stretch;
  > * {
    flex: 1;
  }

  > button[type='submit'] {
    flex: 2;
  }
}
</style>
