<script setup lang="ts"></script>
<template>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/cascadia-code" />
</template>
