<script setup lang="ts">
import '#root/assets/main.scss'
import SiteHeader from '#root/components/SiteHeader.vue'
import { type LinkItem } from '#root/types/LinkItem'
import { OpenNewWindow } from '@iconoir/vue'
const items: LinkItem[] = [
  { label: 'Home', url: import.meta.env.BASE_URL + '' },
  { label: 'Charter', url: import.meta.env.BASE_URL + 'charter' },
  { label: 'Meetups', url: import.meta.env.BASE_URL + 'meetups' },
  { label: 'Resources', url: import.meta.env.BASE_URL + 'resources' },
  { label: 'CharterGram', url: import.meta.env.BASE_URL + 'chartergram' },
  {
    label: 'Join the Slack',
    url: 'https://techworkersnetwork.slack.com',
    position: 'right',
    icon: OpenNewWindow,
  },
]
</script>

<template>
  <SiteHeader :link-items="items" />

  <main :class="$style.content">
    <slot></slot>
  </main>
  <footer>
    <div>
      The Tech Workers Network is a project of
      <a href="https://prospect.org.uk">Prospect, the trade union for professionals</a> and
      <a href="https://stuc.org.uk">the Scottish Trades Union Congress</a>.
    </div>
  </footer>
</template>

<style lang="scss" scoped module>
footer {
  margin-top: 1em;
  padding: 1em 0;
  border-top: solid thin var(--highlights-color);
  font-size: 0.8em;
}

.content {
  flex-grow: 1;
}
</style>
